USE [master]
GO
/****** Object:  Database [db_galpermex]    Script Date: 22/02/2024 02:14:22 p. m. ******/
CREATE DATABASE [db_galpermex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_galpermex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_galpermex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_galpermex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_galpermex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_galpermex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_galpermex]
GO
/****** Object:  Table [dbo].[Accion]    Script Date: 22/02/2024 02:14:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion](
	[AccionID] [int] IDENTITY(1,1) NOT NULL,
	[NombreAccion] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArchivosPDF]    Script Date: 22/02/2024 02:14:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivosPDF](
	[ArchivoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](120) NOT NULL,
	[RutaArchivo] [varchar](300) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[EmpleadoID] [int] NULL,
	[ClienteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArchivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asunto_Contacto]    Script Date: 22/02/2024 02:14:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asunto_Contacto](
	[AsuntoID] [int] IDENTITY(1,1) NOT NULL,
	[Asunto] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsuntoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraArchivos]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraArchivos](
	[BitacoraArchivoID] [int] IDENTITY(1,1) NOT NULL,
	[FechaAccion] [datetime] NOT NULL,
	[AccionID] [int] NULL,
	[UsuarioID] [int] NULL,
	[TipoUsuarioID] [int] NULL,
	[ArchivoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraArchivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraConexiones]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraConexiones](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[FechaConexion] [datetime] NOT NULL,
	[FechaDesconexion] [datetime] NULL,
	[EmpleadoID] [int] NULL,
	[ClienteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraContactoAsesor]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraContactoAsesor](
	[BitContactAsesorID] [int] IDENTITY(1,1) NOT NULL,
	[Respondido] [bit] NOT NULL,
	[FechaRespuesta] [datetime] NOT NULL,
	[EmpleadoID] [int] NULL,
	[ContactoID] [int] NULL,
	[RolID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitContactAsesorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](160) NOT NULL,
	[Apellidos] [varchar](120) NOT NULL,
	[RFC] [varchar](25) NOT NULL,
	[Direccion] [varchar](255) NOT NULL,
	[Correo] [varchar](160) NOT NULL,
	[Contraseña] [varchar](500) NOT NULL,
	[esActivo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaInactividad] [datetime] NULL,
	[RolID] [int] NULL,
	[Telefono] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactoAsesores]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactoAsesores](
	[ContactoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](160) NOT NULL,
	[Apellidos] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](160) NOT NULL,
	[Telefono] [nvarchar](15) NOT NULL,
	[Mensaje] [nvarchar](400) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[status] [bit] NULL,
	[AsuntoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](160) NULL,
	[Apellidos] [varchar](120) NOT NULL,
	[RFC] [varchar](25) NOT NULL,
	[Direccion] [varchar](255) NOT NULL,
	[Correo] [varchar](160) NULL,
	[Contraseña] [varchar](500) NULL,
	[EsActivo] [bit] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaInactividad] [datetime] NULL,
	[RolID] [int] NULL,
	[Telefono] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArchivosPDF]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[ArchivosPDF]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[BitacoraArchivos]  WITH CHECK ADD FOREIGN KEY([AccionID])
REFERENCES [dbo].[Accion] ([AccionID])
GO
ALTER TABLE [dbo].[BitacoraArchivos]  WITH CHECK ADD FOREIGN KEY([ArchivoID])
REFERENCES [dbo].[ArchivosPDF] ([ArchivoID])
GO
ALTER TABLE [dbo].[BitacoraArchivos]  WITH CHECK ADD FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[BitacoraArchivos]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraArchivos]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraConexiones]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraConexiones]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraContactoAsesor]  WITH CHECK ADD FOREIGN KEY([ContactoID])
REFERENCES [dbo].[ContactoAsesores] ([ContactoID])
GO
ALTER TABLE [dbo].[BitacoraContactoAsesor]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[BitacoraContactoAsesor]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[ContactoAsesores]  WITH CHECK ADD FOREIGN KEY([AsuntoID])
REFERENCES [dbo].[Asunto_Contacto] ([AsuntoID])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCliente]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarCliente]
    @ClienteID INT,
     @Nombre VARCHAR(160),
    @Apellidos VARCHAR(120),
    @RFC VARCHAR(25),
    @Direccion VARCHAR(255),
    @Telefono VARCHAR(15),
    @Correo VARCHAR(160),
    @Contraseña VARCHAR(500),
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET @Resultado = 0;

    IF NOT EXISTS (SELECT * FROM Clientes WHERE Correo = @Correo AND ClienteID != @ClienteID)
    BEGIN
        UPDATE TOP(1) Clientes
        SET
            Nombre = @Nombre,
            Apellidos = @Apellidos,
            RFC = @RFC,
            Direccion = @Direccion,
            Telefono = @Telefono,
            Correo = @Correo,
            Contraseña = @Contraseña
        WHERE
            ClienteID = @ClienteID;

        SET @Resultado = 1;
    END
    ELSE
        SET @Mensaje = 'El correo que quiere actualizar ya existe';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarEmpleado]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarEmpleado]
    @EmpleadoID INT,
    @Nombre VARCHAR(160),
    @Apellidos VARCHAR(120),
    @RFC VARCHAR(25),
    @Direccion VARCHAR(255),
    @Telefono VARCHAR(15),
    @Correo VARCHAR(160),
    @Contraseña VARCHAR(500),
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET @Resultado = 0;

    IF NOT EXISTS (SELECT * FROM Empleados WHERE Correo = @Correo AND EmpleadoID != @EmpleadoID)
    BEGIN
        UPDATE TOP(1) Empleados
        SET
            Nombre = @Nombre,
            Apellidos = @Apellidos,
            RFC = @RFC,
            Direccion = @Direccion,
            Telefono = @Telefono,
            Correo = @Correo,
            Contraseña = @Contraseña
        WHERE
            EmpleadoID = @EmpleadoID;

        SET @Resultado = 1;
    END
    ELSE
        SET @Mensaje = 'El correo que quiere actualizar ya existe';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCierreSesion]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarCierreSesion]
    @BitacoraID INT
AS
BEGIN
    UPDATE BitacoraConexiones
    SET FechaDesconexion = GETDATE()
    WHERE BitacoraID = @BitacoraID AND FechaDesconexion IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCliente]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarCliente]
(
    @Nombre varchar(160),
    @Apellidos varchar(120),
    @RFC varchar(25),
    @Direccion varchar(255),
    @Telefono varchar(15),
    @Correo varchar(160),
    @Contraseña varchar(500),
    @Mensaje Varchar(500) output,
    @Resultado int output  -- Cambiado a int
)
as
begin
    SET @Resultado = 0

    if NOT EXISTS (SELECT * FROM Clientes WHERE Correo = @Correo)
    begin
        insert into Clientes (Nombre, Apellidos, RFC, Direccion, Telefono, Correo, Contraseña, EsActivo, FechaRegistro, RolID)
        values (@Nombre, @Apellidos, @RFC, @Direccion, @Telefono, @Correo, @Contraseña, 1, GETDATE(), 3)

        SET @Resultado = SCOPE_IDENTITY()
    end
    else
        set @Mensaje = 'El correo del cliente que quiere registrar ya existe'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEmpleado]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_RegistrarEmpleado]
(
    @Nombre varchar(160),
    @Apellidos varchar(120),
    @RFC varchar(25),
    @Direccion varchar(255),
    @Telefono varchar(15),
    @Correo varchar(160),
    @Contraseña varchar(500),
    @RolID int,
    @Mensaje Varchar(500) output,
    @Resultado int output  -- Cambiado a int
)
as
begin
    SET @Resultado = 0

    if NOT EXISTS (SELECT * FROM Empleados WHERE Correo = @Correo)
    begin
        insert into Empleados (Nombre, Apellidos, RFC, Direccion, Telefono, Correo, Contraseña, EsActivo, FechaRegistro, RolID)
        values (@Nombre, @Apellidos, @RFC, @Direccion, @Telefono, @Correo, @Contraseña, 1, GETDATE(), @RolID)

        SET @Resultado = SCOPE_IDENTITY()
    end
    else
        set @Mensaje = 'El correo del Empleado ya existe'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarInicioSesion_Clientes]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento almacenado para registrar inicio de sesión Clientes
CREATE PROCEDURE [dbo].[sp_RegistrarInicioSesion_Clientes]
(
	@ClienteID int,
	@BitacoraID INT OUTPUT
)
as
begin
    DECLARE @OutputTable TABLE (BitacoraID INT);

    INSERT INTO BitacoraConexiones (ClienteID, FechaConexion)
    OUTPUT INSERTED.BitacoraID INTO @OutputTable
    VALUES (@ClienteID, GETDATE());

    -- Selecciona el BitacoraID correspondiente al EmpleadoID
    SELECT @BitacoraID = BitacoraID FROM @OutputTable;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarInicioSesion_Empleados]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento almacenado para registrar inicio de sesión Empleados
CREATE PROCEDURE [dbo].[sp_RegistrarInicioSesion_Empleados]
(
	@EmpleadoID int,
	@BitacoraID INT OUTPUT
)
as
begin
    DECLARE @OutputTable TABLE (BitacoraID INT);

    INSERT INTO BitacoraConexiones (EmpleadoID, FechaConexion)
    OUTPUT INSERTED.BitacoraID INTO @OutputTable
    VALUES (@EmpleadoID, GETDATE());

    -- Selecciona el BitacoraID correspondiente al EmpleadoID
    SELECT @BitacoraID = BitacoraID FROM @OutputTable;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarSolicitudAsesor]    Script Date: 22/02/2024 02:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarSolicitudAsesor]
(
    @Nombre VARCHAR(160),
    @Apellidos VARCHAR(120),
    @Telefono VARCHAR(15),
    @Correo VARCHAR(160),
	@Mensaje VARCHAR(400),
	@AsuntoID int,
    @MensajeOut VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO ContactoAsesores (Nombre, Apellidos, Telefono, Correo, Mensaje, AsuntoID, FechaRegistro, status)
        VALUES (@Nombre, @Apellidos, @Telefono, @Correo, @Mensaje, @AsuntoID, GETDATE(), NULL);

        SET @Resultado = SCOPE_IDENTITY();
        SET @MensajeOut = 'Solicitud de asesor registrada correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = -1; -- Código de error personalizado, si es necesario
        SET @MensajeOut = ERROR_MESSAGE(); -- Mensaje de error detallado
    END CATCH
END
GO
USE [master]
GO
