
body {
    background-color: rgb(14, 50, 229); /* Reemplaza con el color deseado para el fondo de la página (le habia dado 0.3 de transparecia)*/
}

/* Estilos de fuente primaria */
.primary-font-harabara {
    font-family: 'harabara mais demo', sans-serif; /* Tipografía corporativa */
}
/* Estilos de fuente secundaria */
.secondary-font-regular {
    font-family: 'helvetica', sans-serif; /* Helvetica regular */
}

.secondary-font-oblique {
    font-family: 'helvetica', sans-serif;
    font-style: oblique; /* Helvetica cursiva */
}

.secondary-font-bold {
    font-family: 'helvetica', sans-serif;
    font-weight: bold; /* Helvetica negrita */
    color: #000000;
}

.container-menu{
    min-height: 90px;
}

.nav-bar {
    /*margin-top: 30px;*/ /*que tan abajo quiero el menu*/
}

.navbar-nav .nav-link {
    position: relative;
    transition: color 0.4s ease; /* Transición de color al pasar el cursor */

    /*display: flex;
    align-items: center;*/ /*Alinea verticalmente el icono y el texto */
    /*padding-right: 20px;*/ /* Espacio a la derecha del enlace */
}


    /*.navbar-nav .nav-link i {
        margin-right: 15px;*/ /* Espacio entre el icono y el texto */
    /*}*/


    .navbar-nav .nav-link:hover {
        color: #CC9933 !important; /* Nuevo color al pasar el cursor */
    }

    .navbar-nav .nav-link::before {
        content: '';
        position: absolute;
        bottom: -2px; /* Distancia de la línea al texto */
        left: 0;
        width: 0;
        height: 4px; /* Grosor de la línea */
        background-color: rgb(14, 50, 229) !important; /* Color inicial de la línea */
        transition: width 0.6s ease; /* Transición de la línea al pasar el cursor */
    }

    .navbar-nav .nav-link:hover::before {
        width: 100%; /* Ancho completo al pasar el cursor */
    }

/*.navbar-nav .btn {
    margin-left: 15px;*/ /* Agrega espacio entre los elementos del menú */
/*}*/


.navbar {
    position: fixed; /* Mantener el menú fijo en la ventana del navegador */
    z-index: 1001; /* Asegurar que el menú esté por encima de otros elementos */
    left: 0%;
    right: 0%;
}

#navbarCollapse {
    z-index: 1; /* Asegura que el menú esté por encima del contenido */
}



.btn-tamaño {
    min-width: 140px; /* Establece un ancho mínimo para el botón */
}

.logo-img {
    position: relative;
    width: 55%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción original */
}


/* Establece una altura fija para el contenedor de la tarjeta */
/*.fixed-height-card {
    height: 400px;*/ /* Ajusta la altura según tus necesidades */
/*}*/

/* Establece una altura fija para las imágenes del carrusel */
/*.carousel-inner img {
    height: 100%;*/ /* Ocupa el 100% de la altura del contenedor */
    /*object-fit: cover;*/ /* Cubre el contenedor manteniendo la relación de aspecto */
/*}*/

    /* Centra verticalmente las imágenes del carrusel */
    /*.carousel-inner img.d-block {
        margin: 0 auto;
    }*/

/* Cambiar color de fondo de la tarjeta */
/*.custom-card {
    background-color: #CC9933;*/ /* o el color que prefieras */
/*}*/

#ribbon {
    background-color: rgb(255, 216, 0);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(204, 153, 51, 0.5) 25px, rgba(204, 153, 51, 0.5) 40px);
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#birthday{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: -30px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#birthday img{
    position: relative;
    margin-top: -0px;
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#separator-ribbon .content{
    width: 150%;
    height: 100px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #CC9933;
}

#fondo1 {
    background: rgb(255, 255, 255);
    background: url("../Content/Imag/Quienes somos.jpg"), linear-gradient(0deg, rgb(255, 255, 255, 0) 0%, rgba(99, 196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 100%;
    margin-top: -20px;
}

#vinetas {
    list-style: none;
}

.colorInfo {
    background: rgb(255, 255, 255);
}

#imgViñeta::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../Content/Imag/contenedor_03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}


/*Contacto start */

.targeta-contact {
    background: rgb(204, 153, 51);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

    .contact-info img {
        margin-bottom: 15%;
    }

    .contact-info h2 {
        margin-bottom: 10%;
    }

.trg-cont-2 {
    background: rgb(255, 255, 255, 0.8);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

    .contact-form button:focus {
        /*box-shadow: none;*/
    }

/*Contacto end*/


/*Login Star*/

#estilo-body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Numans', sans-serif;
}

#container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user_card {
    height: auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(204, 153, 51, 0.7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 180px;
    width: 180px;
    top: -75px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 140px;
    width: auto;/*
    border-radius: 50%;
    border: 1px solid white;*/
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    font-size: 1.6em;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

/*Login end*/
