
@{
    ViewBag.Title = "Sobre_Nosotros";
}

<!-- Portada -->
<div class="card bg-dark text-white position-relative">
    <img src="~/Content/Imag/nosotros.jpg" class="card-img" alt="...">
    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <div class="text-center" style="max-width: 800px; margin: 0 auto; padding: 20px; border: 5px solid white;">
            <h1 class="card-title primary-font-harabara display-2">SOBRE NOSOTROS</h1>
        </div>
    </div>
</div>

<!-- MISIÓN -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class=" pt-4 p-lg-5 my-lg-5 rounded colorInfo">
                    <h1 class="mb-3 secondary-font-bold" style="color: #333366">MISIÓN</h1>
                    <ul id="vinetas" class="rounded secondary-font-regular" style="padding-left: 0;">
                        <li class="text-uppercase mb-md-2" style="display: flex; align-items: center;">
                            <i class="fas fa-check-circle" style="color: #333366; margin-right: 10px;"></i>
                            <span style="vertical-align: inherit; color: #000000;">
                                Nuestra misión es ser el aliado estratégicodelasempresas, brindando diversos servicios, conel
                                objetivo de impulsar su crecimiento y éxitoenunentorno globalizado.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div class="position-absolute w-100 h-100 rounded" style="background-color: rgb(255, 255, 255); z-index: -1; top: -20px; left: 20px; right: 20px; bottom: -20px;"></div>
                    <img class="position-absolute w-100 h-100 rounded" src="~/Content/Imag/mision.jpg" style="object-fit: cover" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VISIÓN -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 order-lg-last pt-5 pb-lg-5">
                <div class=" pt-4 p-lg-5 my-lg-5 rounded colorInfo">
                    <h1 class="mb-3 secondary-font-bold" style="color: #333366">
                        VISIÓN
                    </h1>
                    <ul id="vinetas" class="rounded secondary-font-regular" style="padding-left: 0;">
                        <li class="text-uppercase mb-md-2" style="display: flex; align-items: center;">
                            <i class="fas fa-check-circle" style="color: #333366; margin-right: 10px;"></i>
                            <span style="vertical-align: inherit; color: #000000;">
                                Aspiramos a ser referentes en la industria,
                                generandovalor agregado a nuestros clientes y
                                contribuyendoasu posicionamiento en el mercado global.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div class="position-absolute w-100 h-100 rounded" style="background-color: rgb(255, 255, 255); z-index: -1; top: -20px; left: -20px; right: -20px; bottom: -20px;"></div>
                    <img class="position-absolute w-100 h-100 rounded" src="~/Content/Imag/Vision.jpg" style="object-fit: cover" />
                </div>
            </div>
        </div>
    </div>
</div>